<div class= "page-head">
<h1>Animals</h1>
</div>
<div class="actions-nav">
  <p>Actions:</p>
  <ul>
    <li class="appt-item"><a href="/animals/register">Add Animal</a></li>
  </ul>
</div>
<div class="table-wrapper">
  <table id="animals-table">
    <tr>
      <th>Patient ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Type</th>
      <th>Owner</th>
      <th>Vet</th>
    </tr>
    <% for animal in @animals %>
    <% if animal.status == "active"%>
    <tr>
      <td><%= animal.id %></td>
      <td><%= animal.name.capitalize %></td>
      <td><%= animal.category.capitalize %></td>
      <td><%= animal.type.capitalize %></td>
      <td><%= animal.owner.display_name %></td>
      <td><%= animal.vet.name %></td>
      <td class="table-button td-border-left"><a href="/animals/<%= animal.id %>">Details</a></td>
      <td class="table-button"><a href="/animals/<%= animal.id %>/edit">Manage</a></td>
    </tr>
    <% end %>
    <% end %>
  </table>
</div>
<div class= "page-head">
<h1>Inactive Animals</h1>
</div>
<div class="table-wrapper">
  <table id="animals-table">
    <tr>
      <th>Patient ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Type</th>
      <th>Owner</th>
      <th>Vet</th>
    </tr>
    <% for animal in @animals %>
    <% if animal.status == "inactive"%>
    <tr>
      <td><%= animal.id %></td>
      <td><%= animal.name.capitalize %></td>
      <td><%= animal.category.capitalize %></td>
      <td><%= animal.type.capitalize %></td>
      <td><%= animal.owner.display_name %></td>
      <td><%= animal.vet.name %></td>
      <td class="table-button td-border-left"><a href="/animals/<%= animal.id %>">Details</a></td>
      <td class="table-button"><a href="/animals/<%= animal.id %>/edit">Manage</a></td>
    </tr>
    <% end %>
    <% end %>
  </table>
</div>
