<ul>
<% for animal in animals %>
  <li><%= animal.id %></li>
  <li><%= animal.name %></li>
  <li><%= animal.category %></li>
  <li><%= animal.type %></li>
  <li><%= animal.owner %></li>
  <li><%= animal.vet %></li>
<% end %>
</ul>
