
<div class="details-wrapper">
  <table class="details-table">
    <tr>
      <td>Patient ID:</td>
      <td><%= @animal.id %></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><%= @animal.name.capitalize %></td>
    </tr>
    <tr>
      <td>DOB:</td>
      <td><%= @animal.dob %></td>
    </tr>
    <tr>
      <td>Category:</td>
      <td><%= @animal.category %></td>
    </tr>
    <tr>
      <td>Type:</td>
      <td><%= @animal.type %></td>
    </tr>
    <tr>
      <td>Owner:</td>
      <td><%= @animal.owner.display_name %></td>
    </tr>
    <tr>
      <td>Vet:</td>
      <td><%= @animal.vet.name %></td>
    </tr>
    <tr>
      <td>Treatment Notes:</td>
      <td><%= @animal.treatment_notes %></td>
    </tr>
    <tr>
      <td><a href = "/animals/<%= @animal.id %>/edit">Update Details</a></td>
    </tr>
  </table>
</div>
