<div class= "page-head">
  <h1>Animal Name: <%= @animal.name %> </h1>
</div>
<div class="actions-nav">
  <p>Actions:</p>
  <ul>
    <li class="appt-item"><a href="/appointments/animal/ <%= @animal.id %>">View Appointments</a></li>
  </ul>
</div>
<div class="details-wrapper">
  <table class="details-table">
    <tr>
      <td class="table-button">Status:</td>
      <td class="table-button"><%= @animal.status.capitalize %></td>
    </tr>
    <tr>
      <td class="table-button">Patient ID:</td>
      <td class="table-button"><%= @animal.id %></td>
    </tr>
    <tr>
      <td class="table-button">Name:</td>
      <td class="table-button"><%= @animal.name.capitalize %></td>
    </tr>
    <tr>
      <td class="table-button">DOB:</td>
      <td class="table-button"><%= @animal.dob %></td>
    </tr>
    <tr>
      <td class="table-button">Category:</td>
      <td class="table-button"><%= @animal.category.capitalize %></td>
    </tr>
    <tr>
      <td class="table-button">Type:</td>
      <td class="table-button"><%= @animal.type.capitalize %></td>
    </tr>
    <tr>
      <td class="table-button">Owner:</td>
      <td class="table-button"><%= "#{@animal.owner.display_name} (#{@animal.owner.status})" %></td>
    </tr>
    <tr>
      <td class="table-button">Vet:</td>
      <td class="table-button"><%= @animal.vet.name %></td>
    </tr>
    <tr>
      <td class="table-button">Treatment Notes:</td>
      <td class="table-button"><%= @animal.treatment_notes %></td>
    </tr>
    <tr>
      <td class="table-button"><a href = "/animals/<%= @animal.id %>/edit">Update Details</a></td>
    </tr>
  </table>
</div>
