<h1>Vets</h1>
<p><a href="/vets/new">Add Vet</a></p>
<div>
  <table id="vets-table">
    <tr>
      <td>Name</td>
      <td>Mobile</td>
      <td>Animal Category</td>
    <% for vet in @vets %>
    <tr>
      <td><%= vet.name.capitalize %></td>
      <td><%= vet.mobile %></td>
      <td><%= vet.animal_category %></td>
      <td><a href="/vets/<%= vet.id %>">Details</a></td>
      <td><a href="/vets/<%= vet.id %>/edit">Manage</a></td>
    </tr>
    <% end %>
  </table>
</div>
