<div class= "page-head">
<h1>Vets</h1>
</div>
<div class="actions-nav">
  <p>Actions:</p>
  <ul>
    <li class="appt-item"><a href="/vets/new">Add Vet</a></li>
  </ul>
</div>
<div class="table-wrapper">
  <table id="vets-table">
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Animal Category</th>
    <% for vet in @vets %>
    <tr>
      <td><%= vet.name.capitalize %></td>
      <td><%= vet.mobile %></td>
      <td><%= vet.animal_category.capitalize %></td>
      <td class="table-button"><a href="/vets/<%= vet.id %>">Details</a></td>
      <td class="table-button"><a href="/appointments/vet/ <%= vet.id %>">Appointments</a></td>
      <td class="table-button"><a href="/vets/<%= vet.id %>/edit">Manage</a></td>
    </tr>
    <% end %>
  </table>
</div>
