
<div class="details-wrapper">
  <table class="details-table">
    <tr>
      <td>Name:</td>
      <td><%= @vet.name.capitalize %></td>
    </tr>
    <tr>
      <td>Mobile:</td>
      <td><%= @vet.mobile %></td>
    </tr>
    <tr>
      <td>Animal Category:</td>
      <td><%= @vet.animal_category %></td>
    </tr>
    <tr>
      <td>Animals:</td>
      <td>
        <% animals = @vet.animals %>
        <% for animal in animals %>
        <%= "#{animal.name} (Patient ID:#{animal.id})" %>
      <br/>
      <% end %></td>
    </tr>
    <tr>
      <td><a href = "/vets/<%= @vet.id %>/edit">Update Details</a></td>
    </tr>
  </table>
</div>
