<div class= "page-head">
<h1>Vet Details</h1>
</div>
<div class="details-wrapper">
  <table class="details-table">
    <tr>
      <td class="table-button">Name:</td>
      <td class="table-button"><%= @vet.name %></td>
    </tr>
    <tr>
      <td class="table-button">Mobile:</td>
      <td class="table-button"><%= @vet.mobile %></td>
    </tr>
    <tr>
      <td class="table-button">Animal Category:</td>
      <td class="table-button"><%= @vet.animal_category.capitalize %></td>
    </tr>
    <tr>
      <td class="table-button">Animals:</td>
      <td class="table-button">
        <% animals = @vet.animals %>
        <% for animal in animals %>
        <a href="/animals/<%= animal.id %>"><%= "#{animal.name} (Patient ID:#{animal.id})" %></a>
      <br/>
      <% end %></td>
    </tr>
    <tr>
      <td class="table-button"><a href = "/vets/<%= @vet.id %>/edit">Update Details</a></td>
      <td class="table-button"><a href="/appointments/vet/ <%= @vet.id %>">View Appointments</a></td>
    </tr>
  </table>
</div>
