<div class= "page-head">
<h1>Appointments for <%=@animal.name%></h1>
</div>
<div class="center-sub-head">
<h2>Today</h2>
</div>
<div>
  <table id="appointments-table">
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Vet</th>
    <% for appointment in @appointments %>
      <% if appointment.date == Date.today.to_s %>
        <tr>
          <td><%= appointment.display_date(appointment.date) %></td>
          <td><%= appointment.time %></td>
          <td><a href="/appointments/vet/ <%= appointment.vet_id %>"><%= appointment.vet.name %></a></td>
          <td class="table-button td-border-left"><a href="/appointments/<%= appointment.id %>/edit">Manage</a></td>
        </tr>
        <% end %>
    <% end %>
  </table>
</div>
<div class= "sub-page-head">
<h2>Upcoming</h2>
</div>
<div>
  <table id="appointments-table">
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Vet</th>
    <% for appointment in @appointments %>
    <% date_string = appointment.date %>
    <% date = Date.parse(date_string) %>
    <% if date > Date.today %>
        <tr>
          <td><%= appointment.display_date(appointment.date) %></td>
          <td><%= appointment.time %></td>
          <td><a href="/appointments/vet/ <%= appointment.vet_id %>"><%= appointment.vet.name %></a></td>
          <td class="table button td-border-left"><a href="/appointments/<%= appointment.id %>/edit">Manage</a></td>
        </tr>
        <%end %>
    <% end %>
  </table>
</div>
<div class="sub-page-head">
<h2>Past</h2>
</div>
<div>
  <table id="appointments-table">
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Vet</th>
    <% for appointment in @appointments %>
    <% date_string = appointment.date %>
    <% date = Date.parse(date_string) %>
      <% if date < Date.today %>
        <tr>
          <td><%= appointment.display_date(appointment.date)%></td>
          <td><%= appointment.time %></td>
          <td><a href="/appointments/vet/ <%= appointment.vet_id %>"><%= appointment.vet.name %></a></td>
          <td class="table-button td-border-left"><a href="/appointments/<%= appointment.id %>/edit">Manage</a></td>
        </tr>
        <% end %>
    <% end %>
  </table>
</div>
