<div class= "page-head">
  <h1>Appointments on <%= @date %> </h1>
</div>
<% for appointment in @appointments %>
<% appointment_date = appointment.date %>
<% if appointment_date == @date %>
<%= appointment.date %>
<br>
<%= appointment.time %>
<br>
<%= appointment.animal.name %>
<br>
<%= appointment.vet.name %>
<br>
<% end %>
<% end %>
