<h1>Appointments</h1>
<p><a href="/appointments/new">Create</a></p>
<p><a href="/appointments">All</a></p>
<p><a href="/appointments/today">Today</a></p>
<p><a href="/appointments/past">Past</a></p>
<p><a href="/appointments/future">Future</a></p>
<div>
  <table id="appointments-table">
    <tr>
      <td>Date</td>
      <td>Time</td>
      <td>Vet</td>
      <td>Patient</td>
    <% for appointment in @appointments %>
        <tr>
          <td><%= appointment.date %></td>
          <td><%= appointment.time %></td>
          <td><a href="/appointments/vet/ <%= appointment.vet_id %>"><%= appointment.vet.name %></a></td>
          <td><a href="/appointments/animal/ <%= appointment.animal_id %>"><%= appointment.animal.name %></td>
          <td><a href="/appointments/<%= appointment.id %>/edit">Manage</a></td>
        </tr>
    <% end %>
  </table>
</div>
