<div class= "page-head">
<h1>Past Appointments</h1>
</div>
<div class="actions-nav">
  <p>Appointment Actions:</p>
  <ul>
    <li class="appt-item"><a href="/appointments/new">Create New</a></li>
    <li class="appt-item"><a href="/appointments">View All</a></li>
    <li class="appt-item"><a href="/appointments/today">View Today</a></li>
    <li class="appt-item"><a href="/appointments/past">View Past</a></li>
    <li class="appt-item"><a href="/appointments/future">View Upcoming</a></li>
  </ul>
</div>
<div>
  <table id="appointments-table">
    <tr>
      <td>Date</td>
      <td>Time</td>
      <td>Vet</td>
      <td>Patient</td>
    <% for appointment in @appointments %>
      <% date_string = appointment.date %>
      <% date = Date.parse(date_string) %>
        <% if date < Date.today %>
        <tr>
          <td><%= appointment.date %></td>
          <td><%= appointment.time %></td>
          <td><%= appointment.vet.name %></td>
          <td><%= appointment.animal.name %></td>
          <td><a href="/appointments/<%= appointment.id %>">View</a></td>
          <td><a href="/appointments/<%= appointment.id %>/edit">Manage</a></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
