<div class= "page-head">
<h1>Appointments for <%=@vet.name%></h1>
</div>
<div class="center-sub-head">
<h2>Today</h2>
</div>
<div>
  <table id="appointments-table">
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Patient</th>
    <% for appointment in @appointments %>
    <% date_string = appointment.date %>
    <% date = Date.parse(date_string) %>
      <% if date == Date.today %>
        <tr>
          <td><%= appointment.display_date(appointment.date) %></td>
          <td><%= appointment.time %></td>
          <td><a href="/appointments/animal/ <%= appointment.animal_id %>"><%= appointment.animal.name %></td>
          <td class="table-button td-border-left"><a href="/appointments/<%= appointment.id %>/edit">Manage</a></td>
        </tr>
        <% end %>
    <% end %>
  </table>
</div>
<div class="sub-page-head">
<h2>Upcoming</h2>
</div>
<div>
  <table id="appointments-table">
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Patient</th>
    <% for appointment in @appointments %>
    <% date_string = appointment.date %>
    <% date = Date.parse(date_string) %>
      <% if date > Date.today %>
        <tr>
          <td><%= appointment.display_date(appointment.date) %></td>
          <td><%= appointment.time %></td>
          <td><a href="/appointments/animal/ <%= appointment.animal_id %>"><%= appointment.animal.name %></td>
          <td class="table-button td-border-left"><a href="/appointments/<%= appointment.id %>/edit">Manage</a></td>
        </tr>
        <% end %>
    <% end %>
  </table>
</div>
<div class="sub-page-head">
<h2>Past</h2>
</div>
<div>
  <table id="appointments-table">
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Patient</th>
    <% for appointment in @appointments %>
    <% date_string = appointment.date %>
    <% date = Date.parse(date_string) %>
      <% if date < Date.today %>
        <tr>
          <td><%= appointment.display_date(appointment.date) %></td>
          <td><%= appointment.time %></td>
          <td><a href="/appointments/animal/ <%= appointment.animal_id %>"><%= appointment.animal.name %></td>
          <td class="table-button td-border-left"><a href="/appointments/<%= appointment.id %>/edit">Manage</a></td>
        </tr>
        <% end %>
    <% end %>
  </table>
</div>
