<div class= "page-head">
<h1>Edit Details</h1>
</div>
<div class="details-wrapper">
<form method="post" actions="/owners">
  <label for="status">Status</label>
  <select name="status">
    <option value="active" <%= 'selected' if @owner.status == "active" %>>Active</option>
    <option value="inactive" <%= 'selected' if @owner.status == "inactive" %>>Inactive</option>
  </select>
  <br>
  <label for="first_name">First Name</label>
  <input type="text" name="first_name" value="<%= @owner.first_name %>">
  <br>
  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" value="<%= @owner.last_name %>">
  <br>
  <label for="phone_number">Phone Number</label>
  <input type="number" name="phone_number" value="<%= @owner.phone_number %>">
  <br>
  <label for="address">Address</label>
  <input type="text" name="address" value="<%= @owner.address %>">
  <br>
  <label for="postcode">Postcode</label>
  <input type="text" name="postcode" value="<%= @owner.postcode %>">
  <br>
  <label for="notes">Notes</label>
  <textarea name="notes" rows="10" cols="30"><%= @owner.notes %></textarea>
  <br>
  <br>
  <input type="submit" value="Update" class="buttons">
</form>
</div>
