<h1>Owners</h1>
<div>
  <table id="owners-table">
    <tr>
      <td>Name</td>
      <td>Status</td>
      <td>Animals</td>
      <% for owner in @owners %>
      <% if owner.status == "active"%>
      <tr>
        <td><%= owner.display_name %></td>
        <td><%= owner.status.capitalize %></td>
        <td>
          <% animals = owner.animals %>
          <% for animal in animals %>
          <%= "#{animal.name} (Patient ID:#{animal.id})" %>
          <br/>
          <% end %>
        </td>
        <td><a href="/owners/<%= owner.id %>">Details</a></td>
        <td><a href="/owner/<%= owner.id %>/edit">Manage</a></td>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
<h1> Inactive Owners</h1>
  <div>
    <table id="owners-table">
      <tr>
        <td>Name</td>
        <td>Status</td>
        <td>Animals</td>
        <% for owner in @owners %>
        <% if owner.status == "inactive"%>
        <tr>
          <td><%= owner.display_name %></td>
          <td><%= owner.status.capitalize %></td>
          <td>
            <% animals = owner.animals %>
            <% for animal in animals %>
            <%= "#{animal.name} (Patient ID:#{animal.id})" %>
            <br/>
            <% end %>
          </td>
          <td><a href="/owners/<%= owner.id %>">Details</a></td>
          <td><a href="/owner/<%= owner.id %>/edit">Manage</a></td>
        </tr>
        <% end %>
        <% end %>
      </table>
    </div>
