<div class= "page-head">
<h1>Details</h1>
</div>
<div class="details-wrapper">
  <table class="details-table">
    <tr>
      <td class="table-button">First Name:</td>
      <td class="table-button"><%= @owner.first_name.capitalize %></td>
    </tr>
    <tr>
      <td class="table-button">Last Name:</td>
      <td class="table-button"><%= @owner.last_name.capitalize %></td>
    </tr>
    <tr>
      <td class="table-button">Status:</td>
      <td class="table-button"><%= @owner.status.capitalize %></td>
    </tr>
    <tr>
      <td class="table-button">Phone Number:</td>
      <td class="table-button"><%= @owner.phone_number %></td>
    </tr>
    <tr>
      <td class="table-button">Address:</td>
      <td class="table-button"><%= @owner.address %></td>
    </tr>
    <tr>
      <td class="table-button">Postcode:</td>
      <td class="table-button"><%= @owner.postcode %></td>
    </tr>
    <tr>
      <td class="table-button">Notes:</td>
      <td class="table-button"><%= @owner.notes %></td>
    </tr>
    <tr class="table-button">
      <td class="table-button">Animals:</td>
      <td class="table-button"><% animals = @owner.animals %>
      <% for animal in animals %>
      <%= "#{animal.name} (Patient ID:#{animal.id})" %>
      <br/>
      <% end %></td>
    </tr>
    <tr>
      <td class="table-button"><a href = "/owners/<%= @owner.id %>/edit">Edit Details</a></td>
    </tr>
  </table>
</div>
